* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Estilos generales */

.white-color {
    color: #fff;
}

.btn-lab {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.row {
    margin: 0 !important;
}

.row::after {
    display: none !important;
}

.container-full {
    width: 100%;
}


/*Estilos del navbar */

.button-collapse i {
    background-color: #fdb519;
    color: #777;
}

.button-collapse {
    margin-top: 1em;
}

nav {
    background: #fff;
    border: none;
}

nav ul li a {
    color: #777;
}

/* Sección hero */

figure {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/images/taxi.jpg");
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
}

.hero-content {
    background-color: #fdb519;
    width: 100%;
}

.btn-hero {
    margin-bottom: 2em;
    text-transform: none;
}


/* Sección app */

.app-content {
    background-color: #fdb519;   
}

.app-content .div-1 {
    border: 1px solid #fff;
    margin: 5%;
}


/* Media query para dektop */
@media screen and (min-width: 769px) {

    figure {
        width: 90%;  
        height: 80vh; 
        background-repeat: no-repeat;
        background-position: 0% 95%;
        
    }

    .text-desk h5:nth-child(1) {
        margin-bottom: 0;
    }

    .text-desk h5:nth-child(2) {
        margin-top: 0;
        margin-bottom: 1em;
    }

    .text-desk h6 img {
        width: 20%;
        margin-left: 1em;
    }

    .text-desk a {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .hero-content hr {
        background-color: #fff;
        border: #fff;
    }

    .hero-content .btn-driver {
        text-transform: none;
        margin: 1.5em 0 3em 1em;
        
    }


    .app {
        width: 100%;
    }



}


